---
import Base from "../layouts/Base.astro";
import Hero from "./sections/hero.astro"
import Leistungen from "./sections/leistungen.astro";
import Kontakt from "./sections/kontakt.astro";
import Impressum from "./sections/impressum.astro";
import Datenschutz from "./sections/datenschutz.astro";
---
<Base>
    <fragment slot="head">
        <title>Unkrautbeseitigung – Hof, Einfahrt & Gehwege</title>
        <meta name="description" content="Professionelle Unkrautentfernung – schnell, schonend, zuverlässig."/>
    </fragment>
    <Hero/>
    <Leistungen/>
    <Kontakt/>
    <Impressum/>
    <Datenschutz/>
</Base>
